.address {
  @include container();
}

.address__link {
  position: relative;
  display: inline-block;
  padding: 10px;
  padding-left: 60px;
  font-size: 36px;
  line-height: 1.4em;
  color: $color-1;
  text-decoration: none;

  &::before {
    content: "";
    position: absolute;
    left: 5px;
    top: 8px;
    width: 45px;
    height: 45px;
    background-image: url("../img/marker-brown.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &--penino::before {
    background-image: url("../img/marker-red.svg");
  }

  &--orlovka::before {
    background-image: url("../img/marker-dark.svg");
  }

  &--contacts::before {
    top: 17px;
    width: 35px;
    height: 35px;
    background-image: url("../img/marker-dark.svg");
  }
}

.address__contacts {
  margin: 0;
  padding: 5px;
  padding-left: 60px;
  font-family: "Times New Roman", serif;
}

@media (min-width: $tablet-width) {

  .address {
    display: flex;
    justify-content: space-between;
  }

  .address__contacts {
    font-size: 20px;
    line-height: 1.2em;
  }

  .address__link {
    font-size: 43px;
    line-height: 1.1em;
  }
}
