.contacts {
  position: relative;
  padding: 20px 0;
}

.contacts__inner {
  @include container();
}

.contacts__description {
  font-family: "Times New Roman", serif;
}

.contacts__tel {
  position: relative;
  display: inline-block;
  padding: 5px;
  padding-left: 60px;
  margin: 10px 0;
  font-size: 18px;
  line-height: 1.2em;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 7px;
    width: 25px;
    height: 25px;
    background-color: #3c2313;
    background-image: url("../img/phone.svg");
    border-radius: 50%;
    transform: translateY(-50%);
  }
}

.contacts__email {
  position: relative;
  display: inline-block;
  padding: 5px;
  padding-left: 60px;
  margin-bottom: 20px;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 7px;
    width: 25px;
    height: 25px;
    background-color: #3c2313;
    background-image: url("../img/email.svg");
    border-radius: 50%;
    transform: translateY(-50%);
  }
}

.contacts__email a {
  text-decoration: none;
  font-size: 18px;
  line-height: 1.2em;
  color: #000000;

  &:hover {
    border-bottom: 1px solid #000000;
  }
}

.contacts__form {
  display: flex;
  flex-direction: column;
  font-family: "Arial", sans-serif;
}

.contacts__input {
  padding: 8px 15px;
  margin-bottom: 10px;
  border: 1px solid #bab7b4;
  outline: none;

  &:focus {
    border: 1px solid #847567;
    color: #412603;
  }
}

.contacts__field {
  padding: 10px 15px;
  margin-bottom: 10px;
  border: 1px solid #bab7b4;
  outline: none;


  &:focus {
    border: 1px solid #847567;
    color: #412603;
  }
}

.contacts__submit-btn {
  width: 120px;
  padding: 7px 10px;
  background-color: $color-4;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: inset 0 0 10px #74563e;
  transition: 500ms;

  &:hover {
    background-color: #965112;
  }

  &:active {
    opacity: 0.8;
  }
}

@media (min-width: $tablet-width) {
  .contacts__inner--footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .contacts__description {
    font-size: 21px;
    line-height: 1.2em;
  }

  .contacts__address-wrap {
    display: flex;
    flex-direction: column;
    width: 45%;
  }

  .contacts__form {
    width: 50%;
    margin-top: 20px;
    box-sizing: border-box;
  }

  .contacts__input,
  .contacts__field {
    padding: 8px 18px;
    font-size: 18px;
  }
}
