.contacts {
  position: relative;
  padding: 20px 0;
}

.contacts__inner {
  @include container();
}

.contacts__description {
  font-family: "Times New Roman", serif;
}

.contacts__tel {
  position: relative;
  display: inline-block;
  padding: 5px;
  padding-left: 30px;
  margin: 10px 0;
  font-size: 16px;
  line-height: 1.2em;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 23px;
    height: 23px;
    background-color: #3c2313;
    background-image: url("../img/phone.svg");
    border-radius: 50%;
    transform: translateY(-50%);
  }
}

.contacts__tel-link {
  color: #000000;
  text-decoration: none;
}

.contacts__email {
  position: relative;
  display: inline-block;
  padding: 5px;
  padding-left: 30px;
  margin-bottom: 30px;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 23px;
    height: 23px;
    background-color: #3c2313;
    background-image: url("../img/email.svg");
    border-radius: 50%;
    transform: translateY(-50%);
  }
}

.contacts__email a {
  text-decoration: none;
  font-size: 16px;
  line-height: 1.2em;
  color: #000000;

  &:hover {
    border-bottom: 1px solid #000000;
  }
}

.contacts__form {
  display: flex;
  flex-direction: column;
  font-family: "Arial", sans-serif;
}

.contacts__input {
  padding: 8px 15px;
  margin-bottom: 5px;
  border: 1px solid #bab7b4;
  border-radius: 5px;
  outline: none;
  font-family: "Arial", serif;

  &:focus {
    border: 1px solid #847567;
    color: #412603;
  }
}

.contacts__field {
  padding: 10px 15px;
  margin-bottom: 15px;
  border: 1px solid #bab7b4;
  border-radius: 5px;
  font-family: "Arial", serif;
  outline: none;


  &:focus {
    border: 1px solid #847567;
    color: #412603;
  }
}

.contacts__submit-btn {
  width: 85px;
  padding: 5px 10px;
  background-color: $color-4;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: inset 0 0 10px #74563e;
  transition: 500ms;

  &:hover {
    background-color: #965112;
  }

  &:active {
    opacity: 0.8;
  }
}

@media (min-width: $tablet-width) {
  .contacts__inner--footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .contacts__description {
    font-size: 21px;
    line-height: 1.2em;
  }

  .contacts__address-wrap {
    display: flex;
    flex-direction: column;
    width: 45%;
  }

  .contacts__form {
    width: 50%;
    margin-top: 20px;
    box-sizing: border-box;
  }

  .contacts__input,
  .contacts__field {
    padding: 8px 18px;
    font-size: 18px;
  }

  .contacts__submit-btn {
    width: 130px;
    padding: 8px 10px;
    font-size: 18px;
  }
}

@media (min-width: $desktop-width) {
  .contacts__address-wrap {
    width: 400px;
  }

  .contacts__form {
    width: 40%;
  }

  .contacts__email a {
    font-size: 20px;
  }

  .contacts__tel,
  .contacts__email {
    padding-left: 45px;
    font-size: 20px;

    &::before {
      width: 30px;
      height: 30px;
    }
  }

  .contacts__field {
    min-height: 115px;
  }
}
