.decorative-leaf {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: $color-2;
    background-image: url("../img/leaf.svg");
    background-position: center;
    background-repeat: no-repeat;
    z-index: 3;
  }
}

@media (min-width: $tablet-width) {
  .decorative-leaf::before {
    width: 37px;
    height: 37px;
  }

  .decorative-leaf--shedule::before {
    top: -8.2%;
  }
}

@media (min-width: $desktop-width) {
  .decorative-leaf--shedule::before {
    top: -8.7%;
  }
}
