.info {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.2em;

  &--header {
    background-color: #ffffff;
    order: 2;
  }
}

.info__tel {
  color: #ffffff;
  text-decoration: none;
}

.info__tel--footer {
  color: #ffffff;
  text-decoration: none;
}

.info__item--mob-hidden {
  display: none;
}

.info__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 40px;
}

.info__social-item {
  margin: 0 3px;
}

.info__social-item--text {
  display: none;
}

.info__list {
  display: flex;
  flex-wrap: wrap;
  width: 360px;

  &--contacts {
    justify-content: flex-end;
  }
}

.info--footer .info__list {
  width: 150px;
  align-items: center;
  box-sizing: border-box;
  flex-wrap: nowrap;
}

.info--header .info__container {
  justify-content: center;
}

.info--footer .info__container {
  justify-content: space-around;
}

.info--footer .info__list--contacts {
  width: 100px;
}

.info--header .info__list--contacts {
  display: none;
}

.info--header .info__list--pensions {
  justify-content: center;
  width: auto;
}

.info--header .info__item {
  padding: 5px 20px 5px 40px;
  font-size: 14px;
  line-height: 1.2em;
  color: $color-4;

  &:nth-child(1) {
    border-right: 1px solid $color-4;
  }

  &::before {
    background-image: url("../img/marker-brown.svg");
    width: 20px;
    height: 20px;
    top: 13px;
    left: 15px;
  }
}

.info--footer .info__socials {
  display: flex;
  justify-content: center;
  width: 55px;
}

.info--footer .info__social {
  display: inline-block;
  width: 22px;
  height: 22px;
  font-size: 0;
  background-image: url("../img/vk-white.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 19px;
  background-position: 50% 0px;
  // background-color: #000;

  &--ok {
    background-image: url("../img/ok-white.png");
    background-size: 24px;
    background-position: 50% -3px;
  }

  &:hover {
    opacity: 0.8;
  }
}

.info__item {
  padding: 5px;
  color: #ffffff;
  cursor: pointer;

  &--border {
    padding: 5px 10px;
    border: none;
  }

  &--marker {
    position: relative;
    padding: 5px 25px;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 13px;
      width: 23px;
      height: 23px;
      background-image: url("../img/marker-white.svg");
      background-repeat: no-repeat;
      background-position: center;
      transform: translateY(-50%);
    }
  }
}

.info--footer .info__item--marker {
  padding: 5px;
  padding-left: 20px;
  font-size: 12px;
  line-height: 1.2em;
}

.info--footer .info__item--marker::before {
  width: 18px;
  height: 18px;
}

.info__link {
  text-decoration: none;
  color: #ffffff;
}

@media (min-width: $tablet-width) {
  .info--header {
    background-color: $color-4;
  }

  .info__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 40px;
  }

  .info__list {
    display: flex;
    flex-wrap: wrap;
    width: 360px;

    &--contacts {
      justify-content: flex-start;
    }
  }

  .info--header .info__container {
    justify-content: space-between;
  }

  .info--header .info__list--contacts {
    width: 360px;
    display: flex;
    box-sizing: border-box;
  }

  .info--header .info__list--pensions {
    width: 360px;
    justify-content: flex-start;
    box-sizing: border-box;
  }

  .info--header .info__item {
    padding: 5px;
    font-size: 14px;
    line-height: 1.2em;
    color: #ffffff;

    &:nth-child(1) {
      border-right: none;
    }

    &::before {
      background-image: url("../img/marker-white.svg");
      top: 0;
      left: 15px;
    }

    &--marker {
      padding: 5px 25px;

      &::before {
        top: 13px;
        left: 0;
      }
    }
  }

  .info--footer .info__list {
    width: 360px;
    box-sizing: border-box;
    flex-wrap: wrap;
  }

  .info--footer .info__socials {
    width: 155px;
  }

.info__social-item--text {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 1.2em;
  color: #ffffff;
}

  .info--footer .info__item--marker {
    padding: 5px;
    padding-left: 25px;
  }

  .info__link {
    text-decoration: none;
    color: #ffffff;
  }

  .info__list--pensions {
    padding-left: 75px;
  }

  .info--footer .info__list--pensions {
    width: 270px;
  }

  .info__item {
    padding: 5px;
    color: #ffffff;

    &--border {
      border-right: 1px solid #ffffff;
      border-left: 1px solid #ffffff;
    }

    &--marker {
      position: relative;
      padding: 5px 25px;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 13px;
        width: 23px;
        height: 23px;
        background-image: url("../img/marker-white.svg");
        background-repeat: no-repeat;
        background-position: center;
        transform: translateY(-50%);
      }
    }

    &--mob-hidden {
      display: block;
    }
  }
}

@media (min-width: $desktop-width) {
  .info__container {
    width: 960px;
    margin: 0 auto;
  }

  .info__list--pensions {
    padding-left: 0;
  }
}
