.info {
  font-family: "Arial", sans-serif;

  &--header {
    order: 2;
  }
}

.info--mob .info__item {
  border: none;
}

.info__list--mob-visible {
  display: flex;
  justify-content: center;
}

.info__list--mob {
  display: flex;
}

.info__item {
  position: relative;
  padding: 20px 20px 20px 60px;
  border-right: 1px solid;
  opacity: 0.7;
  color: $color-1;

  &::before {
    content: "";
    position: absolute;
    left: 20px;
    top: 50%;
    width: 30px;
    height: 30px;
    background-image: url("../img/marker-brown.svg");
    background-repeat: no-repeat;
    background-position: center;
    transform: translateY(-50%);
  }

  &--orlovka {
    border-right: none;
  }

  &--mob-hidden {
    display: none;
  }

  &--mob {
    padding: 10px;
    padding-left: 25px;

    &::before {
      width: 20px;
      height: 20px;
      left: 0;
      background-image: url("../img/marker-white.svg");
      opacity: 1;
    }
  }
}

.info__link {
  padding: 10px;
}

.info__list--mob-hidden {
  display: none;
}

.info--mob .info__container {
  display: flex;
}


