.main-nav {
  color: #ffffff;
  padding: 15px 0;
  background-color: $color-3;
  order: 1;
}

.main-nav__burger {
  @include container();
  display: flex;
  justify-content: space-between;
}

.main-nav__btn {
  font-size: 0;
  width: 36px;
  height: 36px;
  border: none;
  background-color: transparent;
  background-image: url("../img/burger.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.main-nav__booking {
  display: flex;
  flex-direction: column;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
}

.main-nav__link {
  color: #ffffff;
}

@media (min-width: $tablet-width) {

.main-nav {
  padding: 15px 0;
  background-color: #ffffff;
  order: 3;
  }

  .main-nav__btn {
    background-image: url("../img/burger-dark.svg");
    background-position: center;
  }

    .main-nav__burger {

    }
}
