.page-header {
  display: flex;
  flex-direction: column;
}

.page-header__main {
  order: 3;
  background-color: $color-2;
}

.page-header__inner {
  @include container();
  text-align: center;
  color: $color-1;
  margin-bottom: 70px;
}

.page-header__description {
  width: 170px;
  margin: 0 auto;
  padding: 20px 0;
}

.page-header__title {
  margin: 0;
  padding: 30px 0;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 40px;
}

.page-header__decorative {
  display: inline-block;
  width: 280px;
  height: 30px;

  &::before,
  &::after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 41%;
    height: 1px;
    background-color: $color-1;
    position: relative;
  }
}

.page-header__decorative::before {
  margin-left: -100%;
  left: -10px;
}

.page-header__decorative::after {
  margin-right: -100%;
  right: -10px;
}

.page-header__leaf {
  display: inline-block;
  vertical-align: middle;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: $color-2;
  background-image: url("../img/leaf.svg");
  background-position: center;
  background-repeat: no-repeat;
}

@media (min-width: $tablet-width) {
  .page-header__main {
    background-image: url("../img/bg-1.jpg");
    background-size: cover;
    background-position: center, top;
    background-repeat: no-repeat;
  }

  .page-header__inner {
    margin-bottom: 0;
    color: #ffffff;
    min-height: 775px;
  }

  .page-header__description {
    width: 265px;
    padding: 10px 0;
    font-size: 26px;
    line-height: 1.1em;
    font-weight: normal;
  }

  .page-header__title {
    padding: 15px 0;
    font-size: 38px;
    line-height: 1.1em;
    font-weight: normal;
  }

  .page-header__logo {
    width: 300px;
  }
}
