.pensions {
  background-color: #ead087;
  background-image: url("../img/header-tablet-1.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 320px;
  padding: 20px 0;
}

.pensions__inner {
  @include container();
}
