.price {
  background-image: url("../img/leaf-bg-left.png");
  background-repeat: no-repeat;
  background-position: left 400px;
  padding: 40px 0;
}

.price__inner {
  @include container();
}

.price__description {
  text-align: center;
  font-family: "Times New Roman", serif;
}

.price__link-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.price__link {
  color: $color-red;
  font-size: 22px;
  line-height: 30px;

  &--orlovka {
    color: $color-1;
  }
}

.price__list-item {
  position: relative;
  padding: 20px;
  margin-bottom: 45px;
  min-height: 210px;
  background-image: url("../img/price-bg-1.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  color: #ffffff;
  text-align: center;
  font-family: "Times New Roman", serif;

  &::before {
    content: "";
    position: absolute;
    left: 50%;
    top: -20px;
    width: 70px;
    height: 70px;
    background-image: url("../img/marker-icon-1.svg");
    background-repeat: no-repeat;
    background-position: center;
    transform: translateX(-50%);
  }

  &--disease {
    &::before {
      background-image: url("../img/marker-icon-1.svg");
    }
  }

  &--common {
    background-image: url("../img/price-bg-2.svg");

    &::before {
      background-image: url("../img/marker-icon-2.svg");
    }
  }

  &--qualified {
    background-image: url("../img/price-bg-3.svg");

    &::before {
      background-image: url("../img/marker-icon-3.svg");
    }
  }
}

.price__list-title {
  padding: 7px 0;
  margin: 40px 0 20px 0;
  border-bottom: 1px solid #ffffff;
  font-size: 25px;
  font-weight: normal;
}

.price__rubles {
  display: flex;
  justify-content: center;
  align-items: center;
}

.price__numbers {
  font-size: 50px;
  line-height: 1em;
}

.price__btn {
  margin: 0 auto;
}

.price__features-item {
  position: relative;
  padding-left: 60px;
  margin-bottom: 20px;

  &::before {
    content: "";
    position: absolute;
    top: -5px;
    left: 0;
    width: 50px;
    height: 50px;
    background-image: url("../img/clock.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &--diet::before {
    background-image: url("../img/food.svg");
  }

  &--doctor::before {
    background-image: url("../img/doctor.svg");
  }

  &--consult::before {
    background-image: url("../img/consult.svg");
  }

  &--health-control::before {
    background-image: url("../img/health.svg");
  }

  &--internet::before {
    background-image: url("../img/internet.svg");
  }

  &--drugs::before {
    background-image: url("../img/drugs.svg");
  }

  &--hygiene::before {
    background-image: url("../img/bath.svg");
  }

  &--special-conditions::before {
    background-image: url("../img/special.svg");
  }

  &--washing::before {
    background-image: url("../img/iron.svg");
  }

  &--medicine-equipment::before {
    background-image: url("../img/medicine.svg");
  }

  &--hobby::before {
    background-image: url("../img/hobby.svg");
  }

  &--reabilitation::before {
    top: -13px;
    background-image: url("../img/reabilitation.svg");
  }
}

.price__features-title {
  color: $color-1;
  font-weight: normal;
}

.price__features-description {
  margin: 0;
  padding: 7px 0;
}

@media (min-width: $tablet-width) {

  .price {
    background-image:
    url("../img/leaf-bg-right.png"),
    url("../img/leaf-bg-left.png");
    background-repeat: no-repeat;
    background-position: right 125px, left 78px;
    padding-bottom: 115px;
  }

  .price__inner {
    @include container();
  }

  .price__description {
    font-size: 20px;
    line-height: 1.2em;
  }

  .price__link-wrapper {
    width: 445px;
    margin: 0 auto;
  }

  .price__link {
    font-size: 29px;
    line-height: 1.1em;
    padding: 10px 0;
  }

  .price__list {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }

  .price__list-item {
    min-height: 280px;
    width: 202px;
    box-sizing: border-box;
    background-image: url("../img/price-bg-1-tabl.svg");

    &--disease {
      background-image: url("../img/price-bg-1-tabl.svg");
    }

    &--common {
      background-image: url("../img/price-bg-2-tabl.svg");
    }

    &--qualified {
      background-image: url("../img/price-bg-3-tabl.svg");
      word-break: keep-all;
      hyphens: auto;
    }

    &::before {
      top: -30px;
    }
  }

  .price__list-title {
    font-size: 20px;
  }

  .price__btn {
    margin-bottom: 30px;
  }

  .price__features {
    font-size: 20px;
    line-height: 1.2;
  }

  .price__features-item {
    padding-left: 90px;
    &::before {
      width: 75px;
      height: 75px;
    }
  }

  .price__features-item--reabilitation::before {
    top: -22px;
  }

  .price__features-text {
    padding: 30px 0 30px 90px;
    border-top: 1px solid $color-3;
    font-size: 20px;
    line-height: 1.2;
  }
}
