.price {
  background-image: url("../img/leaf-bg-left.png");
  background-repeat: no-repeat;
  background-position: left 400px;
  padding: 40px 0;
}

.price__inner {
  @include container();
}

.price__description {
  text-align: center;
  font-family: "Times New Roman", serif;
}

.price__item-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.price__item {
  color: $color-red;
  font-size: 22px;
  line-height: 30px;

  &--orlovka {
    color: $color-1;
  }
}

.price__list {

}

.price__list-item {
  position: relative;
  padding: 20px;
  margin-bottom: 45px;
  min-height: 210px;
  background-image: url("../img/price-bg-1.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  color: #ffffff;
  text-align: center;
  font-family: "Times New Roman", serif;

  &::before {
    content: "";
    position: absolute;
    left: 50%;
    top: -30px;
    width: 70px;
    height: 70px;
    background-image: url("../img/marker-icon-1.svg");
    background-repeat: no-repeat;
    background-position: center;
    transform: translateX(-50%);
  }

  &--disease {
    &::before {
      background-image: url("../img/marker-icon-1.svg");
    }
  }

  &--common {
    background-image: url("../img/price-bg-2.svg");

    &::before {
      background-image: url("../img/marker-icon-2.svg");
    }
  }

  &--qualified {
    background-image: url("../img/price-bg-3.svg");

    &::before {
      background-image: url("../img/marker-icon-3.svg");
    }
  }
}

.price__list-title {
  padding: 7px 0;
  margin: 40px 0 20px 0;
  border-bottom: 1px solid #ffffff;
  font-size: 25px;
  font-weight: normal;
}

.price__rubles {
  display: flex;
  justify-content: center;
  align-items: center;
}

.price__numbers {
  font-size: 50px;
  line-height: 1em;
}

.price__btn {
  margin: 0 auto;
}

.price__features {

}

.price__features-item {
  position: relative;
  padding-left: 60px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    background-image: url("../img/clock.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &--diet::before {
    background-image: url("../img/food.svg");
  }

  &--doctor::before {
    background-image: url("../img/doctor.svg");
  }

  &--consult::before {
    background-image: url("../img/consult.svg");
  }

  &--health-control::before {
    background-image: url("../img/health.svg");
  }

  &--internet::before {
    background-image: url("../img/internet.svg");
  }

  &--drugs::before {
    background-image: url("../img/drugs.svg");
  }

  &--hygiene::before {
    background-image: url("../img/bath.svg");
  }

  &--special-conditions::before {
    background-image: url("../img/special.svg");
  }

  &--washing::before {
    background-image: url("../img/iron.svg");
  }

  &--medicine-equipment::before {
    background-image: url("../img/medicine.svg");
  }

  &--hobby::before {
    background-image: url("../img/hobby.svg");
  }

  &--reabilitation::before {
    background-image: url("../img/reabilitation.svg");
  }
}

.price__features-title {
  color: $color-1;
  font-weight: normal;
}
