.reviews {
  padding: 20px 0;
  background-color: $color-6;
  color: #ffffff
}

.reviews--md {
  display: none;
}

.reviews__container {
  @include container();
  position: relative;
}

@media (min-width: $tablet-width) {

  .reviews--sm {
    display: none;
  }

  .reviews--md {
    display: block;
  }
}
