.shedule {
  position: relative;
  background-color: $color-2;
  background-image: url("../img/people.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 320px;
  // padding: 20px 0;
  padding-bottom: 340px;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 33px;
    background-color: #ead087;
  }
}

.shedule__table {
  width: 100%;
  margin: 0 auto;
  font-size: 16px;
  line-height: 18px;
  border-collapse: collapse;
  font-family: "Times New Roman", serif;
}

.shedule__table td {
  width: 60px;
  padding: 5px;
  padding-left: 10px;
  vertical-align: top;
}

.shedule__table-line {
  background-color: #ead087;
}

@media (min-width: $tablet-width) {

  .shedule {
    background-image:
      url("../img/people.png"),
      url("../img/leaf-bg-top.png");
    background-repeat: no-repeat;
    background-position: right bottom, right top;
    background-size: 405px, 445px;
    padding-top: 150px;
  }

  .shedule__table {
    font-size: 21px;
    line-height: 1.2em;
  }

  .shedule__table-line {
    background-color: rgba(240, 191, 122, 0.5);
  }

    .shedule__table-line td {
      padding: 20px 5px;
  }

  .shedule__table td:nth-child(1n) {
    padding-left: 77px;
  }
}
