.shedule {
  background-image: url("../img/header-tablet-1.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  padding: 20px 0;
}

.shedule__table {
  margin: 0 auto;
  border: 1px solid;
}

.shedule__table td {
  padding: 5px;
}
