.swiper-container {
  width: 100%;
  max-width: 1000px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.gallery-top {
  height: 300px;
  width: 100%;
}

.gallery-thumbs {
  height: 100px;
  box-sizing: border-box;
  padding: 10px 0;
}

.gallery-thumbs .swiper-slide {
  height: 100%;
  opacity: 0.4;
}

.gallery-thumbs-2 .swiper-slide {
  height: 100%;
  opacity: 0.4;
}

.gallery-thumbs .swiper-slide-active {
  opacity: 1;
}

// bottom slider

.gallery-top-2 {
  height: 300px;
  width: 100%;
}

.gallery-thumbs-2 {
  height: 100px;
  box-sizing: border-box;
  padding: 10px 0;
}

.gallery-thumbs-2 .swiper-slide-2 {
  height: 100%;
  opacity: 0.4;
}

.gallery-thumbs-2 .swiper-slide-active {
  opacity: 1;
}

.swip {
  margin: 10px;
}


// reviews slider

.swiper-container--reviews {
  width: 100%;
  height: 100%;
}

.swiper-container--reviews .swiper-slide {
  height: 499px;
  text-align: center;
  font-size: 18px;
  background: #ffffff;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: $tablet-width) {
  .gallery-top {
    height: 420px;
  }

  .gallery-thumbs {
    height: 150px;
  }

  .gallery-top-2 {
    height: 420px;
  }

  .gallery-thumbs-2 {
    height: 150px;
  }
}

@media (min-width: $desktop-width) {
  .swiper-box {
    display: flex;
    justify-content: center;
  }

  .swip {
    width: 500px;
    margin: 10px;
  }

  .gallery-top {
    height: 500px;
  }

  .gallery-thumbs {
    height: 200px;
  }

  .gallery-top-2 {
    height: 500px;
  }

  .gallery-thumbs-2 {
    height: 200px;
  }
}
