.titles {
  position: relative;
  color: $color-1;

  &--bg {
    padding: 25px 0 75px 0;
    margin-bottom: 13px;
    background-image: url("../img/header-tablet-1.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 325px;
    color: $color-2;
  }

  &--light-color {
    color: $color-2;
  }
}

.shedule .titles--bg {
  background-image: url("../img/header-tablet-2.png");
}

.pensions .titles--bg::after {
  content: "";
  position: absolute;
  top: 70px;
  right: 11%;
  width: 100px;
  height: 100px;
  background-image: url("../img/prom-mob.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.titles__header {
  @include container();
  font-size: 36px;
  line-height: 1em;
  text-align: center;
  font-weight: normal;
  overflow: hidden;
}

.titles__header::before,
.titles__header::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: 1px;
  background-color: $color-1;
  position: relative;
}

.titles__header::before {
  margin-left: -100%;
  left: -5px;
}

.titles__header::after {
  margin-right: -100%;
  right: -5px;
}

.titles--bg .titles__header::before {
  background-color: $color-2;
}

.titles--bg .titles__header::after {
  background-color: $color-2;
}

.titles--light-color .titles__header::before {
  background-color: $color-2;
}

.titles--light-color .titles__header::after {
  background-color: $color-2;
}

.titles__wrapper {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.reviews .titles__header--bg {
  margin-bottom: 20px;
}

@media (min-width: 455px) {
  .pensions .titles--bg::after {
    right: 20%;
  }
}

@media (min-width: $tablet-width) {
  .titles {
    &--bg {
      background-size: 768px;
      color: $color-2;
      padding: 65px 0 165px 0;
    }
  }

  .titles--reviews {
    margin-bottom: 50px;
  }

  .about .titles {
    margin-bottom: 32px;
  }

  .shedule .titles--bg {
    position: absolute;
    top: -83px;
    left: 50%;
    padding: 55px 0 130px 0;
    background-image: url("../img/header-tablet-2.png");
    background-size: 606px;
    transform: translateX(-50%);
  }

  .pensions .titles--bg {
    margin-bottom: 32px;
  }

  .pensions .titles--bg::after {
    content: "";
    position: absolute;
    top: 128px;
    right: 53px;
    width: 180px;
    height: 180px;
    background-image: url("../img/prom-tabl.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  .titles__header {
    font-size: 43px;
    line-height: 1.1em;
  }

  .titles__header br {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .titles__header {
    font-size: 55px;
  }

  .titles--bg {
    background-size: 735px;
  }

  .pensions .titles--bg {
    margin-bottom: 0;
  }

  .pensions .titles--bg::after {
    top: 95px;
    right: 20%;
  }
}

@media (min-width: $desktop-lg) {
  .pensions .titles--bg::after {
    right: 30%;
  }
}
