.titles {
  @include container();
  font-size: 36px;
  line-height: 1em;
  text-align: center;
  color: $color-1;
  font-weight: normal;
  overflow: hidden;

  &--bg {
    @include container();
    margin-bottom: 80px;
    color: $color-2;
  }
}

.titles::before,
.titles::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: 1px;
  background-color: $color-1;
  position: relative;
}

.titles::before {
  margin-left: -100%;
  left: -5px;
}

.titles::after {
  margin-right: -100%;
  right: -5px;
}

.titles--bg::before {
  background-color: $color-2;
}

.titles--bg::after {
  background-color: $color-2;
}

.titles__wrapper {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.reviews .titles--bg {
  margin-bottom: 20px;
}
