.titles {
  @include container();
  position: relative;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  color: $color-1;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: $color-1;
    transform: translateY(-50%);
    z-index: -1;
  }

  &--bg {
    margin-bottom: 100px;
  }
}

.pensions .titles--bg::after {
  content: "";
  position: absolute;
  top: 70px;
  right: 5px;
  width: 100px;
  height: 100px;
  background-image: url("../img/promo-mobile.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


.titles--bg .titles__wrapper {
  background-color: transparent;
  color: $color-2;
}

.titles__wrapper {
  display: inline-block;
  padding: 10px;
  background-color: #fff;
  z-index: 1;
}

