body {
  font-family: "21Cent", "Times New Roman", serif;
  font-size: 16px;
  line-height: 1.2em;
  background-color: #ffffff;
  color: black;
  padding: 0;
  margin: 0;
}

img,
video,
audio {
  max-width: 100%;
  height: auto;
}

label,
button,
input,
select {
  cursor: pointer;
}

input {
  font-family: inherit;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
