$font-sm: 15px;
$font-md: 22px;
$font-lg: 30px;

$color-1: #694323;
$color-2: #f6e6ba;
$color-3: #a4723f;
$color-4: #b16e30;
$color-5: #f1d68f;
$color-6: #a67240;
$color-red: #be1e2d;

$tablet-width: 720px;
$desktop-width: 1024px;
$desktop-lg: 1300px;
$burger-only: 1024px;
